
Projects/Capstone_Projects/1_C8_DS_Capstone_Projects_(Customer_Segmentation)/.ipynb_checkpoints/Customer_Segmentation_Student_Notebook_Capstone_1_C8301-checkpoint.ipynb
Projects/Capstone_Projects/1_C8_DS_Capstone_Projects_(Customer_Segmentation)/.ipynb_checkpoints/Customer_Segmentation_Student_Notebook_Capstone_1_Grup4-checkpoint.ipynb
Projects/Capstone_Projects/1_C8_DS_Capstone_Projects_(Customer_Segmentation)/Customer_Segmentation_Student_Notebook_Capstone_1_C8301.ipynb
Projects/Capstone_Projects/1_C8_DS_Capstone_Projects_(Customer_Segmentation)/Meryem_Hoca_02_Capstone_Projects(Customer Segmentation).rar
Brownlee.zip
Projects/Capstone_Projects/3_C8_DS_Capstone_Projects_(Fraud_Detection)/creditcard.csv
*.jpg
*.webp
